.d-container {
  padding: 0 60px;
  .back-button {
    position: absolute;
    top: 100px;
    right: 15px;
    background-color: white;
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    &:hover {
      background-color: whitesmoke;
    }
  }
  .user-details-container {
    position: relative;
    h2 {
      font-weight: 500;
      font-size: x-large;
      padding: 20px;
    }
    .content {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
}
